<div class='my-2'>
  <h1 class='text-white text-center'>Danh sách các bài viết đã đăng</h1>
  <a href='/articles/trash' class='btn btn-primary'>Bài viết đã xóa ({{numTrash}})</a>
</div>

<div class='table-responsive'>
  <table class='table table-dark table-responsive'>
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên bài viết</th>
        <th>Source code</th>
        <th>Demo sản phẩm</th>
        <th>Các tag</th>
        <th>Ngày đăng</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      {{#each articles}}
        <tr>
          <td>{{sum @index 1}}</td>
          <td>{{this.name}}</td>
          <td>{{this.sourceLink}}</td>
          <td>{{this.previewLink}}</td>
          <td>{{this.tag}}</td>
          <td>{{dateFormat this.createdAt}}</td>
          <td>
            <div class='d-flex gap-2'>
              <a
                href='/articles/{{this._id}}/edit'
                class='btn btn-primary'
              >Sửa</a>
              <button
                class='btn btn-warning'
                data-bs-toggle='modal'
                data-bs-target='#confirmModal'
                data-bs-id='{{this._id}}'
              >Xóa</button>
            </div>
          </td>
        </tr>
      {{else}}
        <td colspan='8' class="text-center ">Bạn chưa đăng bài viết nào.
          <a href='/articles/create'>Tới trang tạo bài viết</a>
        </td>
      {{/each}}
    </tbody>
  </table>
</div>

<form method='post' id='form'></form>

<!-- Modal -->
<div class='modal fade' id='confirmModal' tabindex='-1'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5' id='confirmModalLabel'>Xác nhận xóa bài
          viết này?</h1>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        Mục này sẽ được chuyển sang thùng rác, bạn có thể khôi phục lại bất cứ
        lúc nào
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-warning' id='btn-confirm'>Xóa ngay</button>
        <button
          type='button'
          class='btn btn-secondary'
          data-bs-dismiss='modal'
        >Hủy</button>
      </div>
    </div>
  </div>
</div>

<script>
  var articleId; const confirmModal = document.getElementById('confirmModal')
  const btnConfirm = document.getElementById('btn-confirm'); const form =
  document.getElementById('form'); if (confirmModal) {
  confirmModal.addEventListener('show.bs.modal', event => { const button =
  event.relatedTarget; articleId = button.getAttribute('data-bs-id'); }) }
  btnConfirm.addEventListener('click', () => { form.action =
  `/articles/${articleId}?_method=DELETE`; form.submit(); })
</script>