<div class='my-2'>
  <h1 class='text-white text-center'>Danh sách bài viết đã xóa</h1>
  <a href='/articles' class='btn btn-primary'>Danh sách bài viết đã đăng</a>
</div>

<div class='table-responsive'>
  <table class='table table-dark table-responsive'>
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên bài viết</th>
        <th>Source code</th>
        <th>Demo sản phẩm</th>
        <th>Các tag</th>
        <th>Ngày xóa</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      {{#each articles}}
        <tr>
          <td>{{sum @index 1}}</td>
          <td>{{this.name}}</td>
          <td>{{this.sourceLink}}</td>
          <td>{{this.previewLink}}</td>
          <td>{{this.tag}}</td>
          <td>{{dateFormat this.deletedAt}}</td>
          <td>
            <div class='d-flex gap-2'>
              <button
                class='btn btn-success restore-btn'
                value='{{this._id}}'
              >Khôi phục</button>
              <button
                class='btn btn-danger'
                data-bs-toggle='modal'
                data-bs-target='#confirmModal'
                data-bs-id='{{this._id}}'
              >Xóa vĩnh viễn</button>
            </div>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan='8' class='text-center'>Thùng rác trống
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<form method='post' id='form'></form>

<!-- Modal -->
<div class='modal fade' id='confirmModal' tabindex='-1'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5' id='confirmModalLabel'>Xác nhận xóa bài
          viết này?</h1>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        Mục này sẽ bị xóa vĩnh viễn và không thể khôi phục, bạn chắc chắn chứ?
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-danger' id='btn-confirm'>Xóa vĩnh
          viễn</button>
        <button
          type='button'
          class='btn btn-secondary'
          data-bs-dismiss='modal'
        >Hủy</button>
      </div>
    </div>
  </div>
</div>

<script>
  var articleId; const confirmModal = document.getElementById('confirmModal');
  const restoreButtons = document.querySelectorAll('.restore-btn'); const
  btnConfirm = document.getElementById('btn-confirm'); const form =
  document.getElementById('form'); if (confirmModal) {
  confirmModal.addEventListener('show.bs.modal', event => { const button =
  event.relatedTarget; articleId = button.getAttribute('data-bs-id'); }) };
  function submitForm(action) { form.action = action; form.submit(); }
  restoreButtons.forEach(btn => btn.addEventListener('click', () => { articleId
  = btn.value; submitForm(`/articles/${articleId}/restore?_method=PATCH`); }))
  btnConfirm.addEventListener('click', () => {
  submitForm(`/articles/${articleId}/force?_method=DELETE`); })
</script>